:root {
  --primary-color: rgb(0, 57, 80);
  --secondary-color: rgb(16, 116, 156);
  --tertiary-color: rgb(228, 226, 100);
  --background-light: rgb(202, 202, 202);
  --font-dark: rgb(19, 19, 19);
  --font-light: rgb(240, 240, 240);
  --font-primary: Verdana, Arial, sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: var(--font-primary);
}